@font-face {
    font-family: Regencie Light;
    src: url('/fonts/RegencieLight.ttf');
}

@font-face {
    font-family: Open Sans Light;
    src: url('/fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: Cantarell;
    src: url('/fonts/Cantarell-Regular.ttf');
}

body{
  margin:0;
  padding:0;
  background-color: #E1E1E1;
  font-family: Cantarell;
  font-size: 11px;
}

header#main-header{
  height:100px;
  line-height: 100px;
  background-color: #FFF;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2);
}

div#inner-header{
  width:95%;
  margin:0 auto;
}

div#logo-container{
  width:80px;
  height:80px;
  float:left;
}

div#logo-container img{
  width:100%;
}

div#name-container{
  float:right;
  color:#8e44ad;
  font-size: 20px;
  font-weight: normal;
}

.clear-floats{
  clear:both;
}